.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
  }

  #link_id{
    width: fit-content;
    height: 2px;
    border: 2px solid black;
  }


  #button{
    border: 1px solid;
    padding: 7px 12px;
    border-radius: 15px;
    background: linear-gradient(to right, #e92f8f, #6508c3 );
    transition: all .5s;

    &:hover{
      transform: scale(1.05);
    }
  }
  